db_admin_username=
db_admin_password=
db_host=
db_port=
db_name=
db_connection_string=

historical_conversation_collection_name=

HF_TOKEN=

GEMINI_API_KEY=
GEMINI_MODEL_NAME=
GEMINI_URL_BASE=

MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=

EMBEDDING_MODEL_NAME2=

CHAT_MODEL_NAME=

vector_collection_name=

JWT_SECRET_KEY=